@{
	ViewData["Title"] = "Anagramų generatorius";
}

<div class="text-left">

	<header>Pasirinkite veiksmą:</header>

	<ul>
		<li>
			<a asp-area="" asp-controller="WordList" asp-action="Index">Žodžių sąrašas</a>
		</li>
		<li>
			<a asp-area="" asp-controller="NewWord" asp-action="Index">Įtraukti naują žodį</a>
		</li>
		<li>
			<a asp-area="" asp-controller="WordList" asp-action="DownloadFile">Atsisiųsti visus žodžius</a>
		</li>
	</ul>
</div>
