@model NewWordModel

@{
	ViewData["Title"] = "Naujas žodis";
}

<div class="text-left">


	<h2>@Model.Word</h2>

	@if (@Model.Word != null)
	{
		<p>Žodis išsaugotas žodyne. </p>

		@if (Model.Anagrams.Count != 0)
		{
			<p>Jo anagramos:</p>
			<ul>
				@foreach (var item in @Model.Anagrams)
				{
					<li>@item</li>
				}
			</ul>
		}
		else
		{
			<p> Deja, anagramų jis neturi.</p>
		}
	}
	else
	{
	<p>Toks žodis jau egzistuoja.</p>
	}
</div>