@model AnagramWordsModel;

@{
	ViewData["Title"] = "Anagramos";
}

<div class="text-left">

	<h2>@Model.Word</h2>

	@if (@Model.Word != "" && Model.Anagrams.Count == 0)
	{
		<p>Deja, anagramų neradome :(.</p>
	}

	else if (Model.Anagrams.Count != 0)
	{
		<p>Anagramos:</p>
		<ul>
			@foreach (var item in @Model.Anagrams)
			{
				<li>@item</li>
			}
		</ul>
	}
</div>
