@model AnagramWordsModel;

@{
	ViewData["Title"] = "Anagramos";
}

<div class="text-left">

	<form asp-action="Index" method="get">
		<div class="form-actions no-color">
			<p>
				Žodis: <input type="text" name="inputWord" />
				<input type="submit" value="Search" class="btn btn-default" />
			</p>
		</div>
	</form>


	<h2>@Model.Word</h2>

	@if (@Model.Word != "" && Model.Anagrams.Count == 0)
	{
		<p>Deja, anagramų neradome :(</p>
	}

	else if (Model.Anagrams.Count != 0)
	{
		<p>Anagramos:</p>
		<ul>
			@foreach (var item in @Model.Anagrams)
			{
				<li>@item</li>
			}
		</ul>
	}
</div>
