@model 			AnagramWordsModel;

@{
	ViewData["Title"] = "Anagramos";
}

<div class="text-left">

	<h2>@Model.Word</h2>

	<ul>
		@foreach (var item in @Model.Anagrams)
		{
			<li>@item</li>
		}
	</ul>

</div>
